[submodule "sha256"]
	path = sha256
	url = https://github.com/ilvn/SHA256
[submodule "littlefs"]
	path = littlefs
	url = https://github.com/ARMmbed/littlefs
[submodule "spiflash_driver"]
	path = spiflash_driver
	url = https://github.com/pellepl/spiflash_driver
